*{
    box-sizing: border-box;
}

.descuentos{
    background-color: #1CD1B0;
    height: 38px;
}
header{
    text-transform: capitalize;
}
.heroes{
    background-color: #00669F;
    height: 100px;
    position: sticky; 
    top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.perfil-heroes{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 450px;
    background-color: #F3F3F3;
    background-image: url('../img/fondo-batman.png');
    background-repeat: no-repeat;
    border-radius: 5%;
}
div h2{
    text-transform: uppercase;
    text-align: center;
}
div img{
    border-radius: 50%;
    
}
.historia{
    margin-top: 150px;
}
.batman{
    position: relative;
    left: 80px;
    top: 130px;
}
footer p{
    background-color: #00669F;
    color: white;
    height: 50px;
    padding-top: 10px;
}
button{
    background-color: #00669F;
    color: white;
    position: relative;
    left: 100px;
    bottom: 10px;
    
}