@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.descuentos{
    background-color: #1CD1B0;
    height: 38px;
    padding-top: 8px;
    padding-left: 6px;
    font-size: 15px;
    margin: 0;
    width: 100%;
}
header{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.heroes{
    background-color: #00669F;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    top: 46px;
    z-index: 2;
}
.perfil{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 500px;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    border-radius: 5%;
    position: relative;
}
.batman{
    background-image: url('../img/fondo-batman.png');
}
.harley{
    background-image: url('../img/fondo-hq.png');
}
div h2{
    text-transform: uppercase;
    text-align: center;
}
div img{
    border-radius: 50%;
    
}
.historia{
    margin-top: 140px;
}
.foto-perfil{
    position: relative;
    left: 80px;
    top: 130px;
}
footer p{
    background-color: #00669F;
    color: white;
    height: 50px;
    padding-top: 20px;
    padding-left: 6px;
}
button{
    background-color: #00669F;
    color: white;
    position: relative;
    left: 100px;
    bottom: 5px; 
    padding: 5px 10px;  
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.historia p{
    padding: 0 20px;
}
.fa-heart{
    color: red;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 25px;
}